body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #17a2b8;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

h1{
    font-size: 22px;
    font-weight: 600;
}

h2{
    font-size: 18px;
    font-weight: 600;
}

h3{
    font-size: 16px;
    font-weight: 600;
}

*:focus {
    outline: none;
}

.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
}

input[type=button], input[type=submit], input[type=reset], .submitbutton  {
	background-color: #17a2b8;
	border-color: #17a2b8;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, textarea:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus,	input[type=number]:focus, textarea:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder, textarea::placeholder{
    color: #cccccc;
}

.formdiv{
    border: 1px solid #f1f1f1;
    border-radius: 2%;
    padding: 20px;
}

.inputErr{
	color: #ff0000;
	font-size: 12px;
}

.navbar {
	border-radius: 0px;
}

footer{
	background-color: #222;
	color: #9d9d9d;
	padding: 10px;
	margin-top: 20px;
	//position: absolute;
	//bottom: 0;
	width: 100%;
	z-index: 9;
}

footer p{
	margin: 0;
}

main{
	margin-top: 30px;
}

.userName{
	color:#fff;
	padding-right: 15px;
}

.addbtn{
	margin-bottom: 20px;
	font-size: 12px;
}

.eventAddForm input, .eventAddForm textarea{
	width: 100%;
	margin: 0;
	padding: 10px;
}

.page-item.active .page-link{
	background-color: #17a2b8;
	border-color: #17a2b8;
}

main{
	min-height: 469px;
}

.note-toolbar{
	border-bottom: 1px solid #dcdcdc;
}
